@inherits LayoutComponentBase
@inject XStory.BL.Common.Contracts.IServiceConfig _serviceConfig

<div class="page">
	<div class="sidebar">
		<NavMenu />
	</div>

	<main>
		<div class="top-row px-4">
			<p>@_currentDataSource</p>
			<input class="xstory-button" @onclick='()=> SetDataSource(XStory.DTO.Config.DataSources.XStory)' type="button" value="XStory" />
			<input class="hds-button" @onclick='()=> SetDataSource(XStory.DTO.Config.DataSources.HDS)' type="button" value="HDS" />
		</div>

		<article class="content px-4">
			@Body
		</article>
	</main>
</div>

@code {
	public string _currentDataSource { get; set; }

	private void SetDataSource(XStory.DTO.Config.DataSources ds)
	{
		_currentDataSource = ds.ToString();
		_serviceConfig.SetCurrentDataSource(ds);
	}
}