@* @page "/nativepage"

<h1>
    Native Page
</h1>

<button @onclick="SetTorchlight">Lampe torche</button>



@code {


    protected override Task OnInitializedAsync()
    {
        return base.OnInitializedAsync();
    }

    private async void SetTorchlight()
    {
        try
        {
            if(FlashlightSwitch)
        }
        catch (Exception)
        {
            
            throw;
        }
    }
}
 *@