@page "/author"
@using XXRead.Pages

<style>
	.body {
		background-color: #111;
	}

	.frame-container {
		background-color: #222;
		margin: 1em;
	}

	td {
		text-align: center;
	}

	p {
		color: #DDD;
		
	}

	.author-name {
		text-align: center;
		font-size: 2em;
	}

</style>

<div class="body">
	<div class="frame-container">
		<div class="author-header">
			<img src="../wwwroot/favicon.ico" alt="" />
			<p class="author-name">cocolst</p>
		</div>

		<div class="author-body">
			<table>
				<tr>
					<td class="author-body-label"><p>Statut : </p></td>
					<td class="author-body-value"><p>Super Auteur</p></td>
				</tr>
				<tr>
					<td class="author-body-label"><p>Classement : </p></td>
					<td class="author-body-value"><p>2ème</p></td>
				</tr>
				<tr>
					<td class="author-body-label"><p>Classement2 : </p></td>
					<td class="author-body-value"><p>22ème</p></td>
				</tr>
				<tr>
					<td class="author-body-label"><p>Suivi par : </p></td>
					<td class="author-body-value"><p>301 membres abonnés à son compte et 657 membres abonnés à ses histoires</p></td>
				</tr>
				<tr>
					<td class="author-body-label"><p>Date d'inscription' : </p></td>
					<td class="author-body-value"><p>03/08/2011</p></td>
				</tr>
				<tr>
					<td class="author-body-label"><p>Genre : </p></td>
					<td class="author-body-value"><p>Non précisé</p></td>
				</tr>
				<tr>
					<td class="author-body-label"><p>Age : </p></td>
					<td class="author-body-value"><p>33 ans</p></td>
				</tr>
				<tr>
					<td class="author-body-label"><p>Lieu : </p></td>
					<td class="author-body-value"><p>On s'en balec'</p></td>
				</tr>
			</table>
		</div>
	</div>
</div>

@code {

}
