@inject XStory.BL.Common.Contracts.IServiceStory _serviceStory

@if (_story != null)
{
	<h1>@_story.Title</h1>

	<div>@_story.Content</div>
}


@code {
	public XStory.DTO.Story _story { get; set; }

	protected override async Task OnInitializedAsync()
	{
		_story = await _serviceStory.InitStory();
	}
}