@page "/storieslist"
@using XXRead.Data
@inject XStory.BL.Web.DSLocator.Contracts.IServiceStory _serviceStory
@inject XStory.BL.Common.Contracts.IServiceConfig _serviceConfig

<div class="container">
	@if (_stories != null)
	{
		@foreach (var item in _stories)
		{
			<StoriesListItem Item="@item" />
		}
	}
</div>

@code {

	private List<XStory.DTO.Story> _stories;

	private async Task FetchStories()
	{
		_stories = await _serviceStory.GetStoriesPage(_serviceConfig.GetCurrentDataSource().ToString());
	}
	protected override async Task OnInitializedAsync()
	{
		await FetchStories();
	}
}